<nav class="navbar navbar-inverse ">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">"D" movies</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#/"><i class="fa fa-home"></i>Home</a></li>
      <li><a href="#/movie"><i class="fa fa-film"></i>Movie</a></li>
      <li><a href="#/theatre"><i class="fa fa-ticket"></i>Theatre</a></li>
      <li><a href="#/admin"><i class="fa fa-home"></i> Admin</a></li>
      <li><a href="#/mapping"><i class="fa fa-plane"></i>Mapping</a></li>
      <li><div ng-controller="LogoutController">
          <a ng-click='logout()'>Logout</a>
        </div></li> -->
        <li><a href="#/hello">hello</a></li>
    </ul>
  </div>
</div>
</nav>
