<body>

  <div class="container">
    <div class="page-header">
      <h1>Thank You {{confirmedvalue.nine}} For Booking {{confirmedvalue.one}}</h1>
    </div>
    <p>In: {{confirmedvalue.three}}</p>
    <p>On: {{confirmedvalue.four}}</p>
    <p>At: {{confirmedvalue.five}}</p>
    <p>Number of Seat: {{confirmedvalue.six}}</p>
    <p>Seat ID: {{confirmedvalue.seven}}</p>
    <p>Your Price: {{confirmedvalue.eight}}</p>
    <p>Ticket ID: {{confirmedvalue.nine}}{{abcd}}</p>
    <button class="btn btn-success" ng-click="render()">CLOSE</button>
    </div>
</body>
